header {
    text-align: center;
}

textarea {
    border: 0px;
    margin: 0px;
    padding: 0px 10px;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.schedulerow {
    width: 80%;
    height: 100px;
    margin: auto;
    margin-bottom: 2px;
    border: gray solid 2px;
}

.time {
    height: 100px;
    width: calc(10% - 22px);
    float: left;
    border-right: grey solid 2px;
}

.event {
    height: 100px;
    width: 80%;
    float: left;
}

.save {
    height: 100px;
    width: 10%;
    float: left;
}